@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto:ital,wght@0,100;1,100&display=swap');

body {
	margin: 5px;
padding: 0;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;}

header{
	height: 64px;
	background-color: rgb(184, 177, 177);
	padding: 10px;
	font-size: 32px;
	color: #666666;
	font-weight: bold;
	text-transform: uppercase;

}
#content{
	display: flex;
	flex-wrap: wrap;
}

.card{
	display: block;
	text-decoration: none;
	border: 5px solid lightgray;
	padding: 10px;
	width: calc(33% - 10px);
	box-sizing: border-box;
	margin: 5px;


}
.card:hover{
	border: 5px solid gray;

}
.txt-gray{
	color: lightgray;
}
.txt-black{
	color: black;
}
#letterbox{
	display: flex;
	gap: 10px;
	 padding-left: 5px;
    padding-top: 5px;
}
.letterCard{
	width: 30px;
	height: 30px;
	background-color: rgb(208, 195, 195);
	 display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;

}
@media (max-width: 800px) {
	.card{
		width: calc(50% - 10px);
	}
}
@media (max-width: 500px) {
	.card{
		width: calc(100% - 10px);
	}
}